@model IEnumerable<MovieRental.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<div>
    <p>
    <button type="button" class="btn btn- buttons" onclick="location.href='@Url.Action("Create", "Movies")'">
        Create New <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
	</p>
    <div>
        <select id="list">
            <option selected value="0">По имени</option>
            <option value="1">По году выпуска</option>
            <option value="2">По жанру</option>
            <option value="3">По режиссерам</option>
            <option value="4">По Актерам</option>
            <option value="5">По стоимости</option>
            <option value="6">По рейтингу</option>
        </select>
        <input type="text" name="Movie Name" id="movie_name">
        <select id="years_list">
            @foreach (var item in ViewBag.Years)
            {
                <option value="@item">@item</option>
            }
        </select>
        <select id="genres_list">
            @foreach (var item in ViewBag.Genres)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <select id="directors_list">
            @foreach (var item in ViewBag.Directors)
            {
                <option value="@item.Id">@item.FirstName @item.LastName</option>
            }
        </select>
        <select id="actors_list">
            @foreach (var item in ViewBag.Actors)
            {
                <option value="@item.Id">@item.FirstName @item.LastName</option>
            }
        </select>
        <select id="prices_list">
            @foreach (var item in ViewBag.Prices)
            {
                <option value="@item">@item</option>
            }
        </select>
        <select id="ratings_list">
            @foreach (var item in ViewBag.Ratings)
            {
                <option value="@item">@item</option>
            }
        </select>
        <button type="button" class="btn btn-default buttons" id="submit_button">
            Show
        </button>
    </div>
</div>
<script type="text/javascript">
    $('#years_list').hide();
    $('#genres_list').hide();
    $('#directors_list').hide();
    $('#actors_list').hide();
    $('#prices_list').hide();
    $('#ratings_list').hide();
</script>
<div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <div class="zoom img">
                <img src="@Url.Content(item.Logo)" />
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <button type="button" class="btn btn-default buttons full-width" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">
                Edit
            </button>
            <button type="button" class="btn btn-default buttons full-width" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">
                Details
            </button>
            <button type="button" class="btn btn-default buttons full-width" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">
                Delete
            </button>
        </td>
    </tr>
}

</table>
</div>
<script type="text/javascript">
    $('#list').change(function () {
        $('#movie_name').hide();
        $('#years_list').hide();
        $('#genres_list').hide();
        $('#directors_list').hide();
        $('#actors_list').hide();
        $('#prices_list').hide();
        $('#ratings_list').hide();

        if ($(this).val() === '0') {
            $('#movie_name').show();
        } else if ($(this).val() === '1') {
            $('#years_list').show();
        } else if ($(this).val() === '2') {
            $('#genres_list').show();
        } else if ($(this).val() === '3') {
            $('#directors_list').show();
        } else if ($(this).val() === '4') {
            $('#actors_list').show();
        } else if ($(this).val() === '5') {
            $('#prices_list').show();
        } else if ($(this).val() === '6') {
            $('#ratings_list').show();
        };
    });

    /*$('#actors_list').change(function () {
        window.location.href = 'Url.Action("Index", "Movies")' + '?value=' + $(this).val() + '&type=4';
    });*/
    $('#submit_button').click(function () {
        switch (parseInt($('#list').val(), 10))
        {
            case 0:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#movie_name').val() + '&type=0';
                break;
            case 1:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#years_list').val() + '&type=1';
                break;
            case 2:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#genres_list').val() + '&type=2';
                break;
            case 3:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#directors_list').val() + '&type=3';
                break;
            case 4:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#actors_list').val() + '&type=4';
                break;
            case 5:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#prices_list').val() + '&type=5';
                break;
            case 6:
                window.location.href = '@Url.Action("Index", "Movies")' + '?value=' + $('#ratings_list').val() + '&type=6';
                break;
        }
    });
</script>
